/* LoginPage.css */

  
  /* Add more custom styling as needed */
  

  /* LoginForm.css */

.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.paper:hover {
  transform: translateY(-5px);
}

.title {
  font-size: 2rem;
  color: #333;
}

.form {
  width: 100%;
  margin-top: 16px;
}

.password-toggle {
  cursor: pointer;
}

.submit-button {
  margin-top: 16px;
  background-color: #007bff;
  color: #fff;
 
}


.register-link {
  margin-top: 16px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
}
